<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>
<div>
  <h1>Изменить данные юзерчика</h1>
  <br><br>
<!--  <form action="#" th:method="PATCH" th:action="@{/admin/edit/}" th:object="${user}">-->
<!--    <label for="userId">UserId</label>-->
<!--    <input readonly type="number" th:field="*{id}" id="userId" placeholder="UserId">-->
<!--    <br><br>-->
<!--    <label for ="name">Введите имя:</label>-->
<!--    <input type = "text" th:field="*{name}" id = "name"/>-->
<!--    <br><br>-->
<!--    <label for="value">Введите значение: </label>-->
<!--    <input type = "text" th:field="*{value}" id = "value"/>-->
<!--    <br><br>-->
<!--    <br><br>-->
<!--    <input type = "submit" value="Edit"/>-->

<!--  </form>-->
<!--  <input th:action="@{'/admin/'}" type="submit" value="to List"/>-->
<!--  <br>-->
  <form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}" >
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="value">Enter value: </label>
    <input type="text" th:field="*{value}" id="value"/>
    <br/>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <input type="checkbox"  name="roleId" value="1"
           checked>
    <label >USER</label>

    <input type="checkbox" name="roleId" value="2">
    <label >ADMIN</label>
    <br>
    <input type="submit" value="Edit" />
  </form>
  <button onclick="window.location.href = '/admin/';"> TO LIST </button>
  <p><a href="/logout">Log out</a></p>

</div>
</body>
</html>