
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Юзерчик</title>
</head>
<body>
<div>
  <span>id :</span>
  <span th:text="${user.getId()}">VALUE</span>
</div>
<br>
<div>
  <span>name :</span>
  <span th:text="${user.getName()}">VALUE</span>
</div>
<br>
<div>
  <span>value: </span> <span th:text="${user.getValue()}">VALUE</span>

</div>
<!--<div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--  <br>-->
<!--  <table>-->
<!--    <tr>-->
<!--      <form th:action="@{'/admin/edit/' + ${user.getId()}}">-->
<!--        <input type="submit"  value="Edit"/>-->
<!--      </form>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <form th:action="@{'/'}">-->
<!--        <input type="submit"  value="to List"/>-->
<!--      </form>-->
<!--    </tr>-->
<!--  </table>-->
<!--  <br>-->
<!--</div>-->

<p><a href="/logout">Log out</a></p>





</body>
</html>